header{
	/*background-color:black;*/
}

footer {
	/*background-color:yellow;*/
	height:80px;
	padding:30px;
	
}

#content {
	border-top: 1px #337ab7 solid;
	border-bottom: 1px #337ab7 solid;
	

}



#menu{
	padding-top:30px;
	
}
#logo{
	
	padding-top:15px;
	
}